{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": "8"
                }
            }
        ]
    ],
    "env": {
        "test": {
            "presets": ["@babel/env"]
        }
    }
}
